
<html>
<head></head>

<body>

<ul>
  {{#users}}
  <li>
    {{username}}
    {{#posts}}
    <br>
    <b>{{title}}</b>
    <p>comments: </p>
    <form method="POST" action="/post-detail">
      <input type="hidden" name="postId" value="{{post_id}}">
      <input type="submit" name="submit" value="Details">
    </form>
    {{/posts}}
  </li>
  {{/users}}
</ul>

</body>

</html>
