<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="site.css"/>
</head>

<body>
<h1>Blog App</h1>
{{#username}}
<form method = 'GET' action = '/logout'>
    <button class="buttons">Logout {{username}}</button>
</form>
<h3>Add a comment</h3>
<form method = 'POST' action='/add-comment'>
  <button  class="buttons">Submit</button>
  <textarea rows="5" cols="50" name="body" placeholder="body"></textarea>
</form>
{{/username}}
{{^username}}
<p>Not logged in</p>
{{/username}}
<h4>{{post.title}}</h4>
<h5>User: {{post.username}}</h5>
<h5>Created: {{post.created_on}}</h5>
<p>{{post.body}}</p>
{{#results}}
<h3>Add a comment</h3>
<form method = 'POST' action='/comments'>
  <input type="hidden" class="titleBox" placeholder="title" name="{{title}}">
  <button  class="buttons">Submit</button>
  <textarea rows="5" cols="50" name="body" placeholder="body"></textarea>
</form>
<h4>{{title}}</h4>
<h4>User: {{name}}</h4>
<p>{{body}}</p>
{{/results}}
{{#comments}}
<form method='POST' action = '/delete-comment'>
  <h5>User: {{name}}</h5>
  <p>{{body}}</p>
  <input type="hidden" value={{comment_id}} name="del_comment">
  <button class="buttons" {{owned}}>Remove</button>
</form>
{{/comments}}
{{^comments}}
<p>No comments yet.</p>
{{/comments}}
</body>
</html>
